</nav>
<nav class="nav">
    <ul class="menu">
        <li><a href='/'></a>Home</a></li>
        <li><a href='/subscribe'>Subscribe</a></li>
        <li><a href='/gallery'>Gallery</a></li>
    </ul>